@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="C:\Users\Shipa\Desktop\kris\library\library\wwwroot\css\site.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Библиотека</h1>
    
    <main>
        <div class="cont">
            <div class="img_cont">
                <img src="https://img3.labirint.ru/rc/97a0faacd383913a014649bc82c620cd/363x561q80/books86/850859/cover.jpg?1649262315" height="100" width="150"/>
            </div>
            <div>
                <div>
                    <h2>Алиса</h2>
                </div>
                <div>
                    kfldkfmnlvkdnm
                </div>
                <div>
                    <button>Забронировать</button>
                    <button>Купить</button>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="img_cont">
                <img src="https://img3.labirint.ru/rc/97a0faacd383913a014649bc82c620cd/363x561q80/books86/850859/cover.jpg?1649262315" height="100" width="150" />
            </div>
            <div>
                <div>
                    <h2>Алиса</h2>
                </div>
                <div>
                    kfldkfmnlvkdnm
                </div>
                <div>
                    <button>Забронировать</button>
                    <button>Купить</button>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="img_cont">
                <img src="https://img3.labirint.ru/rc/97a0faacd383913a014649bc82c620cd/363x561q80/books86/850859/cover.jpg?1649262315" height="100" width="150" />
            </div>
            <div>
                <div>
                    <h2>Алиса</h2>
                </div>
                <div>
                    kfldkfmnlvkdnm
                </div>
                <div>
                    <button>Забронировать</button>
                    <button>Купить</button>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="img_cont">
                <img src="https://img3.labirint.ru/rc/97a0faacd383913a014649bc82c620cd/363x561q80/books86/850859/cover.jpg?1649262315" height="100" width="150" />
            </div>
            <div>
                <div>
                    <h2>Алиса</h2>
                </div>
                <div>
                    kfldkfmnlvkdnm
                </div>
                <div>
                    <button>Забронировать</button>
                    <button>Купить</button>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="img_cont">
                <img src="https://img3.labirint.ru/rc/97a0faacd383913a014649bc82c620cd/363x561q80/books86/850859/cover.jpg?1649262315" height="100" width="150" />
            </div>
            <div>
                <div>
                    <h2>Алиса</h2>
                </div>
                <div>
                    kfldkfmnlvkdnm
                </div>
                <div>
                    <button>Забронировать</button>
                    <button>Купить</button>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="img_cont">
                <img src="https://img3.labirint.ru/rc/97a0faacd383913a014649bc82c620cd/363x561q80/books86/850859/cover.jpg?1649262315" height="100" width="150" />
            </div>
            <div>
                <div>
                    <h2>Алиса</h2>
                </div>
                <div>
                    kfldkfmnlvkdnm
                </div>
                <div>
                    <button>Забронировать</button>
                    <button>Купить</button>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="img_cont">
                <img src="https://img3.labirint.ru/rc/97a0faacd383913a014649bc82c620cd/363x561q80/books86/850859/cover.jpg?1649262315" height="100" width="150" />
            </div>
            <div>
                <div>
                    <h2>Алиса</h2>
                </div>
                <div>
                    kfldkfmnlvkdnm
                </div>
                <div>
                    <button>Забронировать</button>
                    <button>Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
